/* NAV */
.nav {
    display: none; // OCULTO en móvil 
    
    @include responsive(tablet) {
      display: block; // VISIBLE en tablet/desktop
      justify-items: right;
      width: 100%; 
      margin-right: 25px;
  
      &__list {
        display: flex; // Links en fila horizontal
        gap: $spacing-sm; // Espacio
        list-style: none;
      }
  
      &__link {
        color: $color-light;
        text-decoration: none;
        padding: $spacing-xs $spacing-sm;
        background: linear-gradient(to right, $color-dark, $color-light);
        border-radius: 6px;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }